body {
    font-family: Figtree, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-color: #E6FFF8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header {
    margin-bottom: 20px;
}

.header img {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.title {
    font-size: 48px;
    color: #00B37A;
    margin-top: 150px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
